

.header {
  margin: 30px auto;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 14px;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 100;
}

.glassmorph-header {
  
  /* box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 100px;
}

.menu-bar {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 4px;
  /* width: 350px; */
  height: 50px;
  background-color: rgba(232, 229, 228 , 0.5);
  border-radius: 100px;
}

.menu:first-child {
  margin-left: 5px;
}

.menu:last-child {
  margin-right: 5px;
}

.menu {
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 400ms ease;
  text-decoration: none;
  color: black;
}

.menu:hover {
  background-color: white;
  cursor: pointer;
}

.menu.active {
  background-color: white;
}

.hide {
  display: none;
}

.body-content {
  margin: 0 100px;
}

.scroll-content {
  position: relative;
}

.content {
  height: 100vh;
  width: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.left-content {
  width: 42vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.left-content h1 {
  font-size: 48px;
}

.right-content {
  width: 37vw;
  user-select: none;
}

.scroll-image {
  position: absolute;
  bottom: 10%;
  left: 52%;
  animation: translate 1.2s linear 2s infinite;
  user-select: none;
}

@keyframes translate {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(15px);
    /* opacity: 0.5; */
  }

  100% {
    transform: translateY(0);
  }
}

.scroll-image img{
  width: 20px;
}

.about h1 {
  margin-top: 100px;
  text-align: center;
}

.about-content {
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  line-height: 1.8;
}

.about-left {
  width: 40vw;
  display: flex;
  flex-direction: column;
  text-align: justify;
  gap: 10px;
}

.about-right {
  width: 35vw;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.skills-content {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-content p {
  background-color: rgba(232, 229, 228 , 0.5);
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.right-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.right-footer .link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.right-footer .link:hover {
  color: blue;
}

.right-footer .link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: black;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.right-footer .link:hover::before {
  width: 100%;
  background-color: blue;
}

/* ---------------- MOBILE SCREEN ------------------- */

@media screen and (max-width: 576px) {
  .menu-bar {
    padding: 10px 1px;
    gap: 2px;
  }

  .menu {
    padding: 10px 15px;
  }

  .body-content {
    margin: 0px 20px;
  }

  .content {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .left-content {
    width: inherit;
    gap: 6px;
  }

  .left-content h1 {
    font-size: 24px;
  }

  .left-content p {
    font-size: 14px;
  }

  .left-content p:last-child {
    padding-top: 20px;
  }

  .right-content {
    display: none;
  } 

  .scroll-image {
    left: 48%;
  }

  .about-content {
    flex-direction: column;
  }

  .about-left {
    width: 100%;
  }

  .about-right {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 100px;
    gap: 20px;
  }

  .footer {
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-bottom: 50px;
  }

  .right-footer {
    width: 100%;
    justify-content: center;
    gap: 14px;
  }

  .right-footer .link::before {
    width: 100%;
  }
}