

.header {
  margin: 30px auto;
  display: flex;
  place-content: center;
  align-items: center;
  font-size: 14px;
  width: 100vw;
  position: fixed;
  background-color: transparent;
  z-index: 100;
}

.glassmorph-header {
  background-color: rgba(232, 229, 228 , 0.5);
  /* box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37); */
  backdrop-filter: blur(16px);
  -webkit-backdrop-filter: blur(16px);
  border-radius: 100px;
}

.menu-bar {
  display: flex;
  align-items: center;
  place-content: center;
  gap: 4px;
  /* width: 350px; */
  height: 50px;
}

.menu:first-child {
  margin-left: 5px;
}

.menu:last-child {
  margin-right: 5px;
}

.menu {
  padding: 10px 30px;
  border-radius: 100px;
  transition: all 400ms ease;
  text-decoration: none;
  color: black;
}

.menu:hover {
  background-color: white;
  cursor: pointer;
}

.menu.active {
  background-color: white;
}

.hide {
  display: none;
}

.body-content {
  margin: 0 100px;
}

.content {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
}

.left-content {
  width: 42vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.left-content h1 {
  font-size: 48px;
}

.right-content {
  width: 40vw;
}

.about {
  height: 100vh;
}

.about h1 {
  padding-top: 80px;
  text-align: center;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.right-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}

.right-footer .link {
  position: relative;
  text-decoration: none;
  color: #000;
}

.right-footer .link:hover {
  color: blue;
}

.right-footer .link::before {
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: blue;
  bottom: 0;
  transition: all 250ms ease-in-out;
}

.right-footer .link:hover::before {
  width: 100%;
}