/* .contact {
    width: 45%;
} */

.blah {
  width: 45%;
}

.contact h1 {
    font-size: 48px;
}

.contact h1:nth-child(2) {
    color: rgba(22, 14, 14, 0.5);
}

.contact-flex {
    display: flex;
    justify-content: space-between;
    padding-top: 120px;
    height: 100vh;
}

.form label {
    display: inline-block;
    margin-bottom: 5px;
}

.form input, textarea {
    padding: 10px 15px;
    border: none;
    background-color: rgba(125, 125, 125, 0.1);
    font-size: 14px;
    border-radius: 4px;
    width: 500px;
    height: 45px;
    margin-bottom: 5px;
}

.form input:focus, textarea:focus {
    outline: solid 2px skyblue;
}

.form span {
    color: tomato;
}

textarea {
    min-height: 238px;
    resize: none;
}

.form button {
    padding: 18px 40px;
    border: none;
    font-size: 14px;
    background: #a6f6;
    border-radius: 4px;
    cursor: pointer;
}

.msg.invalid {
    border-color: red;
    transition: .2s;
  }
  
  .form-input.invalid {
    animation: shake 0.6s 1;
  }
  
  @keyframes shake {
    0%,
    100% {
      transform: translateX(0);
    }
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translateX(-10px);
    }
    20%,
    40%,
    60%,
    80% {
      transform: translateX(10px);
    }
  }
  
  .contact span {
    color: #dd3957;
  }
  
  .error {
    margin: 0;
    color: red;
    font-size: 16px;
  }